.overlay {
  width: 100%;
  height: 100%;
  z-index: 1072;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000099;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.overlay:target {
  pointer-events: auto;
  overflow-y: scroll;
}
