.checkout_sum {
  font-size: 36px;
  margin-right: 9px;
}

.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text_white {
  color: white;
  text-decoration: none;
}

.modal {
  text-align: center;
}
.modal span {
  display: block;
}
.modal h1 {
  font-family: "Island";
  font-size: 144px;
  line-height: 120px;
  margin: 0;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.modal p {
  font-size: 24px;
}

.pending {
  color: #8585ad;
}
