.container {
  max-width: 1280px;
  margin: 180px auto;
}

.row {
  display: flex;
  padding: 0 15px;
}

.container > .input_size_default {
  width: 480px;
}

.menu {
  width: 320px;
  margin-right: 60px;
}
.menu a {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #8585ad;
  text-decoration: none;
  display: block;
  padding: 15px 0;
}

.description {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8585ad;
  opacity: 0.4;
  margin-top: 80px;
}
