.burger_counter {
  font-family: "Iceland";
  font-size: 28px;
  margin-right: 9px;
  line-height: 24px;
}

.burger_name {
  text-align: center;
  font-size: 16px;
}

.content_width {
  width: 600px;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
}

.cursor_pointer {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
