.text_center {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #f2f2f3;
}

.details {
  color: #8585ad;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}
.details span {
  display: block;
}
.details_count {
  margin-top: 8px;
}

.img_width {
  width: 480px;
}

.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
