.bg_card{
    background: #1C1C21;
    border-radius: 40px;
}

.bg_card:first-child{
    border-radius: 88px 88px 40px 40px;
}

.bg_card:last-child{
    border-radius: 40px 40px 88px 88px;
}

.content_width{
    width: 592px;
}

.burger_counter{
    font-size: 28px;
    margin-right: 9px;
}
