body {
  margin: 0;
  font-family: "JetBrains";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-right {
  justify-content: flex-end;
}

.text-secondary {
  color: #8585ad;
}

.w-6-12 {
  width: 50%;
}

.relative {
  position: relative;
}

@font-face {
  font-family: "JetBrains";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Jetbrainsmonomedium.woff") format("woff");
}

@font-face {
  font-family: "Island";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Iceland-Regular.woff") format("woff");
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2f2f37;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8585ad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8585ad;
}
